       <!DOCTYPE html>
       <html>
        <head>
          <title>Bar charts with Bokeh</title>
          <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.0.min.css" rel="stylesheet" type="text/css">
          <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.0.min.css" rel="stylesheet" type="text/css">
          <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.0.min.css" rel="stylesheet" type="text/css">
          <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.0.min.js"></script>
          <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.0.min.js"></script>
          <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.0.min.js"></script>
        </head>
        <body>
         <div>
          {{ the_script|safe}}
          {{ the_div|safe}}
         </div>
        </body>
        </html>
